<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Library</title>
<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		text-align: center;
	}
</style>
</head>

<body>
	<h1>Books to Read</h1>
	<form>
			<div id="checklist">
				<table>
					<tr>
						<th> Book </th>
						<th> Completed </th>
					</tr>
					{% for book in books %}
					<tr>
						<td id="checklist_item">{{book.name}}</td>
						<td>
							{% if book.read == 1 %}
								<input checked type="checkbox" value="{{book.name}}" onchange=send_event(this.value)>
							{% else %}
								<input type="checkbox" value="{{book.name}}" onchange=send_event(this.value)>
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>	
	</form>
</body>

<script>
	function send_event(book_name) {
		window.location.replace(window.location.href + 'read?name=' + book_name);
	}
</script>

</html>